@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
<h1 class="display-6 fw-bold ">Emprestimos</h1>
<p>Apenas um começo! Não note os erros aki</p>
 <img src="~/Img/outro livro.webp"/>
</div>