@model EmprestimosModel
@{
    ViewData["title"] = "Editar Emprestimos";
}
<div class="container   bg-warning  p-5 rounded-3 text-black mt-4" >
    <div class=" text-center">
        <h1 class="  text-opacity-75 ">Edição Emprestimo</h1>
    </div>
<form method="post" asp-controller="Emprestimos" asp-action="Editar"  >
    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label for="Recebedor" class="form-label  fs-4 ">Recebedor</label>
        <input type="text" class="form-control bg-dark text-white " asp-for="Recebedor" id="Recebedor" placeholder="Quem é o recebedor?">
            <span asp-validation-for="Recebedor" class="text-danger"></span>
    </div>
    <div class="mb-3">
            <label for="Fornecedor" class="form-label  fs-4 ">Fornecedor</label>
        <input type="text" class="form-control bg-dark text-white"  asp-for="Fornecedor" id="Fornecedor" placeholder="Quem é o fornecedor?">
            <span asp-validation-for="Fornecedor" class="text-danger"></span>

    </div>
        <div class="mb-3">
            <label for="Livro" class="form-label  fs-4 ">Livro</label>
            <input type="text" class="form-control bg-dark text-white" asp-for="LivroEmprestado" id="Livro" placeholder="Qual o Livro?">
            <span asp-validation-for="LivroEmprestado" class="text-danger"></span>
        </div>
    <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-secondary  fw-bold mb-3 w-50">Enviar</button>
            <a asp-controller="Emprestimos" asp-action="Index" class="btn btn-secondary  fw-bold mb-3 w-50">Voltar</a>
    </div>
</form>
</div>